<h1><%= model_translate('manufacturers') %></h1>
<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>

<% @manufacturers.each do |manufacturer| %>
  <%= link_to manufacturer.name, manufacturer %>
<% end %>