<div class="ls-topbar ">
  <span class="ls-show-sidebar ls-ico-menu"></span>
  <a href="/locawebstyle/documentacao/exemplos//pre-painel" class="ls-go-next"><span class="ls-text">Voltar à lista de serviços</span></a>

  <!-- Nome do produto/marca com sidebar -->
  <h1 class="ls-brand-name">
    <a href="home" class="ls-ico-earth">
      <small>Sistema de gestão de locação de carros</small>
      Rental Cars
    </a>
  </h1>

  <!-- Nome do produto/marca sem sidebar quando for o pre-painel -->
  <span class="ls-show-notifications ls-ico-question"></span>
</div>